@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    
}

header h1{
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section p {
    white-space: pre-line;
    
}

section.normal {
    background-color: white;
    color: black;
    padding-left: 50px;
}

section.imagem {
    background-color: rgb(102, 101, 101);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.232);
    width: 300px;
    padding-left: 20px;

}

footer {
    background-color: black;
    text-align: center;
    color:white;
    padding: 10px;
}
