@charset "UTF=8";

@font-face {
    font-family:'idrod';
    src: url('pacote-projeto-d010/fontes/idroid.otf') format('opentype') ;
}

body {
    background-color: #A7CC99;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    
}

header {
    background-image: linear-gradient(to bottom, #8ecf8a , #1B470B);   
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0px;
    height: 100%;
    padding: 0px;
    box-shadow: 10px 10px 10px #1b470b93;
}

header>h1 {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    text-shadow: 10px 5px 5px  #1b470b4c;

    margin: auto;
    padding: 10px;
}

header>h2 {
    font-size: 1rem;
    font-weight: lighter;
    margin: auto;
    padding: 10px;
}

nav {
    text-align: justify;
    padding: 10px;   
    color: white;
}

nav > a {
    
    text-decoration: none;
    color: white;
    

    padding: 10px;

}

a:hover {
    text-decoration: underline;
    font-weight: bold;
}


main {
    background-color: white;
    margin: auto;
    height:auto;
    width: 650px;
    padding: 20px;
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.6);
    border-radius: 0px 0px 10px 10px;

}

strong {
    color: #53b130;
}

h1 {
    font-family: 'idrod', sans-serif;
    margin: auto;
}

h2 {
    font-family: 'idrod', sans-serif;
    margin: auto;
    padding: 4px;
    font-size: 1rem;
    background-image: linear-gradient(to right, rgba(2, 155, 2, 0.395), white);
}

article> h1,h2 {
    color: #266a0d;
}

p   {
    text-indent: 20px;
    padding: 10px;
}

article > picture > img{
    display: block;
    width: 100%;
    padding: auto;
    margin: auto;

}

article > img {
    display:block;
    margin: auto;
}

iframe {
    display: block;
    border: #1B470B;
    border-style: solid;
    border-width: 10px 65px 10px 65px;
    margin: 10px -20px 10px -20px ;
    padding: 0px;
}

aside {
    
    background-color: #c4f7c3;
    margin: 10px;
    padding: 0px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #00000047;
}

aside > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    background-color: #367120;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

aside > p {
    padding: 15px;
    margin: auto;
}

.inline-ul {
    display: inline-block;
}

aside > ul > li > a {
    font-weight: lighter;
    text-decoration: underline;
    color:black
    
}

a {
    color: #2f8e0c;
    font-weight: bold;
    text-decoration: none;
}
footer {
    font-size: smaller;
    background-color: #1B470B;
    text-align: center;
    color: white;
    margin-top: 30px;
    padding:5px;
}

footer > a {
    color: white;
    font-weight: bolder;
}